<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zz.animationlearndemo">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".anim_ui.AlphaActivity" />
        <activity android:name=".anim_ui.ScaleActivity" />
        <activity android:name=".anim_ui.RotationActivity" />
        <activity android:name=".anim_ui.TranslateActivity" />
        <activity android:name=".anim_ui.SetAnimActivity" />
        <activity android:name=".valueanim.ValueAnimActivity" />
        <activity android:name=".valueanim.BoundPointActivity" />
        <activity android:name=".animator.BounceObjActivity" />
        <activity android:name=".animator.XmlObjActivity" />
        <activity android:name=".layout_anim.LayoutAnimActivity" />
        <activity android:name=".layout_anim.ViewGroupActivity" />
        <activity android:name=".layout_anim.ListViewAnimActivity"></activity>
    </application>

</manifest>